.parties {
  
    text-align: center;
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
    margin: 5% 5% 5% 5%;
    grid-gap: 13%
   
    
}

.partyDiv {
    text-align: center;
    align-items: center;
}

.partyDiv h1 {
    margin-top: 5%;
}



.partyLink {
   
    font-family: Tinos;
    font-size: 18px;
}

.partyLink:hover {
    cursor: pointer;
    color: rgb(36, 175, 36);
    
}

.parties h4 {
    margin-right: 20%;
    margin-top: -1.5%;
    margin-left: 10%;
    background: white;
    width: 12%;
    height: 20px;
   
}


.hosting {
    text-align: center;
    border: 5px solid black;
    padding-bottom: 1%;
    margin-left: 25%;
    margin-right: 25%;
    min-height: 200px;
    
  
}

.attending {
    border: 5px solid black;
    padding-bottom: 1%;
   
    margin-left: 25%;
    margin-right: 25%;
    min-height: 200px;
   
}

.partyBtnDiv {
    text-align: center;
}


.partyCreateBtn {
    width: 10%;
    height: 30px;
    text-align: center;

    
}