.imgDiv img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    height: 10rem;
    border: 3px solid black;
    border-radius: 1rem;
}



.recipeCard {
    max-width: 10rem;
    text-align: center;
    opacity: 85%;

}

.recipeCard:hover {
    opacity: 100%;
    cursor: pointer;
    animation: pulse .3s linear;
    
}


@keyframes pulse {
    100% {
      transform: scale(1);
    }
  
  
  
  }










