.recipesContainer {
    display: grid;
    
    grid-template-columns: repeat(4, 1fr);
    
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    padding: 50px 50px 50px 50px;
    grid-gap: 60px;
    /* border: 3px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.37); */
}


.search {
    text-align: center;
    display: inline-block;
    max-width: 400px;
    
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 100px;

}