.search-bar {
    display: flex;
    overflow: hidden;
    border-radius: .5rem;
}

.search-bar input{
    border: none;
    text-align: center;
    height: 3rem;
    width: 25rem;
    font-size: 1.5rem;
    border-right: none;
}

.search-bar input:focus {
    border-radius: .5rem;
    padding: 3px 0px 3px 3px;
    border: 1px solid rgb(248, 0, 0) !important;
  }

.search-bar button {
    margin-left: -.7rem;
    border-left: none;
    border: none;
    width: 7rem;
    height: 3rem;
  
}

.selection-for-search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.selection-for-search select {
    height: 3rem;
    width: 13rem;
    border-radius: .5rem;
    font-size: 1rem;
    text-align: center;
    text-align-last:center;
}


.form-div form {
    grid-row-gap: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
}