.shoppingList {
    margin-top: 200px;
    text-align: center;
}



.shoppingList img {
    width: 100%;
    border: 2px solid black;
    
}

.shoppingList h3 {
   
    background: white;
    width: 300px;
    margin-left: -12px;
    padding-left: 20px;
}

.recipeHeader {
    width: 300px;
    text-align: center;
    float: left;
    margin-left: -50px;
    margin-top: -90px;
    background: white;
}

.listedRecipe {
    border: 3px solid black;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10%;
    margin-bottom: 150px;

    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   
    
}

.ingredientDiv {
    
    width: 400px;
    border: 4px double black;
    border-radius: 2%;
    
    /* margin-left: 400px; */
    text-align: center;
    margin-left: 15%;
    margin-top: 20px;
    margin-right: 15%;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.1);

    
}


.ingredientDiv input {
    width: 10px;
    margin-bottom: -20px;
    
    margin-top: 20px;
    
}


.ingredientDiv p {
    text-align: bottom;
    text-align: right;
    padding-right: 15px;
}


.purchasedIngredient {
    text-decoration: line-through;
   
}


.shoppingList button {
    margin-top: .1%;
    width: 350px;
    height: 50px; 
    outline: none;
    margin-bottom: 3%;
    
    border: .5px inset black;
    border-radius: 30px;
    
}

.shoppingList button:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0.685));
    color: white;
    border: 2px solid white;
}