.viewParty {
    /* margin-top: 100px; */
    text-align: center;
}


.partyViewDiv {


    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    
    margin: 10% 15% 10% 15%;
    grid-gap: 10px;
    
    text-align: center;
}

.chatBorder {
    border: 4px solid black;
    text-align: center;
    height: 700px;
    width: 100%;
    align-self: center
}

.chatBoxDiv form {
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    
}


.chatBoxDiv input {
   width: 87%;
   height: 40px;

}

.chatBoxDiv button {
    width: 13%;
    height: 40px;
    border-left: 2px solid black;
}